
ul.left{ 
  width: 15%;
}

ul.middle li { 
  padding: 10px;
  margin-right: 10px;
  font-family: 'Handlee', 'cursive';
  font-size: 1.3em;
  color: #255946 !important;
}

.custom{
  font-family: 'Abril Fatface', cursive !important;
  font-size: 25px !important;
}

.active > * { 
  border-bottom: 2px solid #efb443 ;
  color:#255946 !important;
}

ul.right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
}

ul.right li { 
  margin-right: 5px;
  cursor: pointer;
}

ul.right li:last-child{
  padding: 10px 5px;
  background-color: #efb443;
  border-radius: 5px;
  font-family: 'lato';
  transition: background-color 0.4s ease-in-out;
}


ul.right li:last-child:hover{
  background-color: #255946;
  color: white;
}

span.our-phone-detail{
  position: relative;
}

span.call-any-time{
  font-size: 16px;
  position: absolute;
  top: -10px;
  left: 12px;
  width: 100px;
  font-family: 'Handlee', 'cursive';
  font-weight: bolder;
}

span.ourNumber{
  font-weight: bolder;
  position: absolute;
  left: 10px;
  top: 15px;
  width: 100px;
  font-size: 0.8em;
}


.phone{
  color :white !important;
  width: 150px;
}

.number-of-notifications{
  background-color: #49A760;;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  margin-left: -15px;
}

.show-notifications { 
  position: absolute;
  top: 80%; 
  right: 6%;
  z-index: 999;
  padding: 10px;
  background-color: #EFEFEF;
  border-radius: 5px;
  color: #949494;
  font-weight: bolder;
  font-size: 1em;
  display: none;
}
.show-notifications .notification{
  padding: 15px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  font-family: 'Handlee', 'cursive';
}

.flag-img{
  border-radius: 50%;
}


